* {
  font-family: Papyrus;
}

body {
  background: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet); 
}

form {
  margin: 0 auto;
}

.blink {
  font-family: Papyrus;
  font-size: 48pt;
  text-align: center;
  color: #dc143c;
  animation: blink-animation .5s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    color: aqua;
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

